$list-padding: 0px;
$list-item-action-icon-margin: 16px;
$btn-border-radius: 4px 0px 4px 0px;
$text-field-border-radius: 4px 0px 4px 0px;
$card-border-radius: 4px 0px 4px 0px;
$card-actions-padding: 16px;
$card-btn-margin-x: 16px;
$snackbar-border-radius: 4px 0px 4px 0px;
$snackbar-content-padding: 16px;
